h1
{
    font-size: 55px;
    color: teal;
    text-align: center;
}
h3
{
    color: red;
    font-size: 40px;
    text-align: left;
}
ul {
    list-style: none;
} 

li
{
    color: springgreen;
    text-align: left;
    font-size: 25px;
}
body
{
   background-color: honeydew;

}
#intro{
    
}
.subtitle{
    color: blue;
}

