body {
    
    background-image: url(/navigation/image/grape-1322271-1599x2388.jpg)
    
}

.navbar {
    border: 1px solid gray;
    background-color: transparent;
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: space-around;
   
}
.list-item {
    font-size: 30px;
    list-style-type: none;
   
    
}
.list-item a {
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 40px;
}

a:hover{
    background-color: chartreuse;
    cursor: grabbing;
}